<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://myfuncationapp20200921101407.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/55e76de2-2883-4ada-8974-f9621a29c2ea/resourcegroups/User05/providers/Microsoft.Web/sites/MyFuncationAPp20200921101407</ResourceId>
    <UserName>$MyFuncationAPp20200921101407</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://myfuncationapp20200921101407.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>